<aside class="al-sidenav" id="alSidenav" aria-label="주 메뉴">
    <div class="al-sidenav__scroll">
        <ul class="al-sidenav__list">

            <!-- 대시보드 (단일 메뉴) -->
            <li class="al-sidenav__item">
                <a href="#" class="al-sidenav__link">
                    <span class="al-sidenav__icon al-sidenav__icon--m01" aria-hidden="true"></span>
                    <span class="al-sidenav__label">대시보드</span>
                </a>
            </li>

            <!-- 앱 관리 (2depth, 현재 활성) -->
            <li class="al-sidenav__item is-open" data-nav="app">
                <button type="button" class="al-sidenav__trigger" aria-expanded="true">
                    <span class="al-sidenav__icon al-sidenav__icon--m02" aria-hidden="true"></span>
                    <span class="al-sidenav__label">앱 관리</span>
                    <span class="al-sidenav__arrow" aria-hidden="true"></span>
                </button>
                <ul class="al-sidenav__sub">
                    <li class="al-sidenav__subitem">
                        <a href="#" class="al-sidenav__sublink is-active">앱 관리</a>
                    </li>
                    <li class="al-sidenav__subitem">
                        <a href="#" class="al-sidenav__sublink">배포 관리</a>
                    </li>
                </ul>
            </li>

            <!-- 단말 관리 -->
            <li class="al-sidenav__item">
                <a href="#" class="al-sidenav__link">
                    <span class="al-sidenav__icon al-sidenav__icon--m03" aria-hidden="true"></span>
                    <span class="al-sidenav__label">단말 관리</span>
                </a>
            </li>

            <!-- 컨텐츠 관리 -->
            <li class="al-sidenav__item">
                <a href="#" class="al-sidenav__link">
                    <span class="al-sidenav__icon al-sidenav__icon--m04" aria-hidden="true"></span>
                    <span class="al-sidenav__label">컨텐츠 관리</span>
                </a>
            </li>

            <!-- 장비분석 -->
            <li class="al-sidenav__item">
                <a href="#" class="al-sidenav__link">
                    <span class="al-sidenav__icon al-sidenav__icon--m05" aria-hidden="true"></span>
                    <span class="al-sidenav__label">장비분석</span>
                </a>
            </li>

            <!-- 운영관리 -->
            <li class="al-sidenav__item">
                <a href="#" class="al-sidenav__link">
                    <span class="al-sidenav__icon al-sidenav__icon--m06" aria-hidden="true"></span>
                    <span class="al-sidenav__label">운영관리</span>
                </a>
            </li>

            <!-- 시스템관리 -->
            <li class="al-sidenav__item">
                <a href="#" class="al-sidenav__link">
                    <span class="al-sidenav__icon al-sidenav__icon--m07" aria-hidden="true"></span>
                    <span class="al-sidenav__label">시스템관리</span>
                </a>
            </li>

        </ul>
    </div>
</aside>
